@media (min-width: 82em) {

    .title1{
        font-size:5em;
        margin-top: 0.5em;
        
    }
    .title2{
        font-size:3em;
    }
    
    .motto{
        font-size: 4em;
    }
    .weather{
        top: 1000px;
        right: 100px;
        padding: 2em;
    }
    .weather h2{
        font-size: 4em;
    }
    .weather div,
    .weather span{
        font-size: 2em;
        padding: 1em;
    }
    
   
      .navigation li {
        padding: 1em;
        margin-bottom:2em;
        margin-top: 5em;
      }
      .navigation li a {
          font-size:1.5em;
      }
    
      .c2a_join{
        padding: 4em;
        margin: 4em; 
     }
     .join{
        font-size: 3em;
    }
    .contact{
        margin-top: 6em;
    }

    .purpose h2{
        font-size: 5em;
    }
    .purpose p{
        font-size: 2em;
    }
    .threeDay h3{
        font-size: 5em;
    }
    .threeDay section div{
        font-size: 3em;
    }
    .threeDay section img{
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }
    .business_section h3{
        font-size: 5em;
    }
    /*Orchard Park Page*/

    .demo{
        text-align: center;
    }

    /*join Page*/

    form label.top,
    form div {
        padding-top: .5em;
    }
    #benefits{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #benefits h2{
        grid-column: 1 / 3;
        padding: 2em;
    }
    #benefits :nth-child(2){
        grid-column: 1 / 2;
    }
    #benefits :nth-child(3){
        grid-column: 2 / 3;
    }#benefits :nth-child(4){
        grid-column: 1 / 2;
    }
    #benefits :nth-child(5){
        grid-column: 2 / 3;
    }
   

}
